@font-face {
    font-family: '700w-font';
    src: url('../fonts/f700W.ttf') format('truetype');
}

@font-face {
    font-family: '500w-font';
    src: url('../fonts/f500W.ttf') format('truetype');
}

@font-face {
    font-family: '400w-font';
    src: url('../fonts/f400W.ttf') format('truetype');
}

@font-face {
    font-family: '300w-font';
    src: url('../fonts/f300W.ttf') format('truetype');
}

body {
    background-image: url("../images/background.jpg");
}

.glass-container {
    width: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    margin-top: 50px;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255, 255, 255, 0.4) solid;
    border-radius: 10px;
    border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
    border-right: 0px rgba(40, 40, 40, 0.35) solid;

}

.server_id {
    width: 50px;
}

.server_name {
    width: 300px;
}

.server_map {
    width: 300px;
}

.server_version {
    width: 75px;
}

.server_delay {
    width: 75px;
}

.server_players {
    width: 75px;
}

.server_os {
    width: 50px;
}

.cube-blue {
    width: 25px;
    height: 20px;
    background-color: rgb(59, 180, 242);
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.cube-red {
    width: 25px;
    height: 20px;
    background-color: rgb(221, 81, 76);
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.group_name {
    font-family: '700w-font';
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
}

.group_info {
    font-family: '500w-font';
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
}

table {
    width: 900px;
    padding: 20px;
    margin: auto;
}

hr {
    border-bottom: 3px solid white;
}

th,
td {
    font-family: '400w-font';
    text-align: left;
}

td {
    padding-bottom: 10px;
    height: 30px
}