@font-face {
    font-family: '700w-font';
    src: url('../fonts/江城圆体\ 700W.ttf') format('truetype');
}

@font-face {
    font-family: '500w-font';
    src: url('../fonts/江城圆体\ 500W.ttf') format('truetype');
}

@font-face {
    font-family: '400w-font';
    src: url('../fonts/江城圆体\ 400W.ttf') format('truetype');
}

@font-face {
    font-family: '300w-font';
    src: url('../fonts/江城圆体\ 300W.ttf') format('truetype');
}

.glass-container {
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    margin-top: 25px;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255, 255, 255, 0.4) solid;
    border-radius: 5px;
    border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
    border-right: 0px rgba(40, 40, 40, 0.35) solid;

}

body {
    background-image: url("../images/background.jpg");
}

/* table {
    width: 900px;
    padding: 20px;
    margin: auto;
} */

.game_name {
    font-family: '700w-font';
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
}

.server_name {
    font-family: '500w-font';
    text-align: center;
    padding-top: 10px;
    height: 20px;
}

.server_info_container {
    display: flex;
    flex-wrap: wrap;
}

.server_info_item {
    width: calc(50% - 50px);
    /* 每行两个元素，减去内边距的宽度 */
}

.server_info_item_last {
    width: calc(100% - 50px);
    margin-bottom: 15px;
}

.server_info_item,
.server_info_item_last {
    box-sizing: border-box;
    margin-left: 25px;
    margin-top: 10px;
    font-family: '400w-font';
}

.group_info {}

hr {
    border-bottom: 3px solid white;
}

th,
td {
    font-family: '400w-font';
    text-align: left;
}

td {
    padding-bottom: 10px;
    height: 30px
}

th {
    font-family: '400w-font';
}

td {
    font-family: '300w-font';
}

label {
    font-family: '400w-font';
}

h1 {
    text-align: center;
    font-family: '700w-font';
}

h2 {
    text-align: left;
    font-family: '500w-font';
}