<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>服务器信息</title>
    <link rel="stylesheet" href={{resources_path}}/templates/server_info.css>
</head>

<body>
    <div class="glass-container">
        <div class="game_name">{{server_info.game_name}}</div>
        <div class="server_name">{{server_info.server_name}}</div>
        <div class="server_info_container">
            <div class="server_info_item">延时：{{server_info.ping}}ms</div>
            <div class="server_info_item">版本：{{server_info.version}}</div>
            <div class="server_info_item">平台：{{server_info.platform}}</div>
            <div class="server_info_item">人数：{{server_info.player_count}}/{{server_info.max_players}}</div>
            <div class="server_info_item_last">地图：{{server_info.map_name}}</div>
        </div>
    </div>
    <table id="player-info">
        <tr>
            <th width="15%">分数</th>
            <th width="25%">在线时长</th>
        </tr>
        <th width="60%">玩家名字</th>
        {% for player in server_info.players %}
        <tr>
            <td>{{player.name}}</td>
            <td>{{player.score}}</td>
            <td>{{player.duration}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>