@font-face {
    font-family: '700w-font';
    src: url('../fonts/江城圆体\ 700W.ttf') format('truetype');
}

@font-face {
    font-family: '500w-font';
    src: url('../fonts/江城圆体\ 500W.ttf') format('truetype');
}

@font-face {
    font-family: '400w-font';
    src: url('../fonts/江城圆体\ 400W.ttf') format('truetype');
}

@font-face {
    font-family: '300w-font';
    src: url('../fonts/江城圆体\ 300W.ttf') format('truetype');
}

.glass-container {
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    margin-top: 25px;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255, 255, 255, 0.4) solid;
    border-radius: 5px;
    border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
    border-right: 0px rgba(40, 40, 40, 0.35) solid;

}

body {
    background-image: url("../images/background.jpg");
}

.game_name {
    font-family: '700w-font';
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.server_name {
    font-family: '500w-font';
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    height: 20px;
}

.server_info_container {
    display: flex;
    flex-wrap: wrap;
}

.server_info_label {
    font-weight: bold;
}

.server_info_item {
    width: calc(50% - 50px);
    /* 每行两个元素，减去内边距的宽度 */
}

.server_info_item_last {
    width: calc(100% - 50px);
    margin-bottom: 15px;
}

.server_info_item,
.server_info_item_last {
    box-sizing: border-box;
    margin-left: 35px;
    margin-top: 10px;
    font-family: '400w-font';
}

.player_name {
    width: 65%;
}

.player_score {
    width: 10%;
}

.player_duration {
    width: 25%;
}


table {
    width: 400px;
    padding: 10px;
    margin: auto;
}

hr {
    border-bottom: 1.5px solid white;
}

th {
    font-family: '400w-font';
    text-align: left;
}

td {
    font-family: '300w-font';
    text-align: left;
    padding-bottom: 5px;
    height: 15px
}