@font-face {
    font-family: '700w-font';
    src: url('../fonts/江城圆体\ 700W.ttf') format('truetype');
}

@font-face {
    font-family: '500w-font';
    src: url('../fonts/江城圆体\ 500W.ttf') format('truetype');
}

@font-face {
    font-family: '400w-font';
    src: url('../fonts/江城圆体\ 400W.ttf') format('truetype');
}

@font-face {
    font-family: '300w-font';
    src: url('../fonts/江城圆体\ 300W.ttf') format('truetype');
}

.glass-container {
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    margin-top: 25px;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255, 255, 255, 0.4) solid;
    border-radius: 5px;
    border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
    border-right: 0px rgba(40, 40, 40, 0.35) solid;

}

body {
    background-image: url("../images/background.jpg");
}

.info-container {
    background-color: rgba(255, 255, 255, 0.5);
    /* background: linear-gradient(45deg, #e709e7, #0733f8); */
    /* 半透明白色背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    font-family: '400w-font';
}

td {
    font-family: '300w-font';
}

label {
    font-family: '400w-font';
}

h1 {
    text-align: center;
    font-family: '700w-font';
}

h2 {
    text-align: left;
    font-family: '500w-font';
}